---
import '../styles/resume.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
import { getCollection } from 'astro:content';

const experience = await (await getCollection('experience')).sort((a, b) => b.data.from.valueOf() - a.data.from.valueOf())
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Resume</div>
	</div>

	<div class="mb-10 mt-16">
		<div class="time-line-container">
			<TimeLineElement
				icon="education.svg"
				title="Education"
			/>

			<TimeLineElement
				title="Software Engineering Degree"
				subtitle="2004 - 2007 @ ESERP"
			/>
		</div>
	</div>

	<div class="mb-12">
		<div class="time-line-container mb-10">
			<TimeLineElement
				icon="code.svg"
				title="Experience"
			/>

			{
				experience.map((exp) => (
					<TimeLineElement
						title={exp.data.title}
						subtitle={`${exp.data.from} - ${exp.data.to} @ ${exp.data.company}`}
						icon={exp.data.icon}
					>
						{ exp.body }
					</TimeLineElement>
				))
			}
		</div>
	</div>
</BaseLayout>
